/* BLUEPRINT REACT UI LIBRARY */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.App {
  text-align: center;
}

.html {
  font-size: 20px;
}

p {
  font-size: 1.15rem;
  line-height: 30px;
}

ul.increaseFontSize {
  font-size: 1.25rem;
  line-height: 30px;
}

ul {
  font-size: 1.15rem;
}

/* TYPE SCALE 1.25 */
h5 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.5625em;
}

h3 {
  font-size: 1.953125em;
}

h2 {
  font-size: 2.44140625em;
}

h1 {
  font-size: 3.0517578125em;
}

.reset_nav_links {
  list-style: none;
}
