/* BLUEPRINT REACT UI LIBRARY */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  text-align: center;
}

.reset_nav_links {
  list-style: none;
}

/* HEADER */

.show_m_navigation {
  display: none;
}
.burger_menu {
  display: none;
}

@media only screen and (max-width: 525px) {
  .burger_menu {
    display: block;
    color: #000;
  }

  .hide_main_menu {
    display: none;
  }
}

@media only screen and (min-width: 525px) {
  .burger_menu {
    display: none;
  }

  .show_m_navigation {
    display: none !important;
  }
}

/* RECIPE */

@media only screen and (min-width: 1024px) {
  .lg_grid_cols_3 {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media only screen and (min-width: 1536px) {
  .increase_text_size_2xlscreen {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}